
:root {
  --main-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --code-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  font-family: var(--main-font);
}

code {
  font-family: var(--code-font);
}

/* *, *::before, *::after {
  box-sizing: border-box;
} */
